# ------------------------
# Python
# ------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Byte-compiled / optimized files
*.py[cod]
*.so

# Virtual environments
.venv/
venv/

# ------------------------
# Poetry
# ------------------------
poetry.lock

# ------------------------
# Environment & secrets
# ------------------------
.env
*.env
.env.test
*.env.test

# ------------------------
# Local data
# ------------------------
data/
datasets/
raw_data/
processed_data/
.vscode/

# ------------------------
# Cache / Tools
# ------------------------
.ipynb_checkpoints
mypy_cache/
ruff_cache/
pytest_cache/
*.log

# ------------------------
# OS Files
# ------------------------
.DS_Store
Thumbs.db
